extends layout

block content
  table
    tr
      th First name
      th Last name
      th Actions
    - each person, index in people
      form(method='post', class='form form--users form--users--#{index}')
        tr
          td
            input(type='text', name='firstname', value=person.firstname)
          td
            input(type='text', name='surname', value=person.surname)
          td
            input(type='hidden', name='index', value=index)
            input(type='button', value='Update', class='button button-small', onclick='setFormAction(#{index}, "/people/update");')
            input(type='button', value='Delete', class='button button-small button-clear', onclick='setFormAction(#{index}, "/people/delete");')
    form(method='post', action='/people/create', class='form form--users form--users--new')
      tr
        td
          input(type='text', name='firstname')
        td
          input(type='text', name='surname')
        td
          input(type='submit', value='Create', class='button button-small button-outline')
block scripts
  script(src='/scripts/app.js')
